.section-ready {
    background-color: $color-fon;
    border: solid 5px;

    .container {
        grid-template-columns: repeat(2,1fr);
        //outline: 2px solid #000;
    }
}
.ready-left {
    border-right: $size-main/5 solid $color-grey;
    font-size: $size-main+8px;
    font-family: $font-second;

    padding: {
        top: $size-main*6;
        left: $size-main*6;
        right: $size-main*6;
        bottom: $size-main;
    }

    h2 {
        font-family:$font-main;
        font-size:$size-main*3;
        margin: {
            top: $size-zero;
            bottom:$size-main*4;
        }
    }
}
.img-responsive {
    display: block;
    max-width: $size-widthper;
    //min-width: $size-widthper;
    min-height: $size-widthper;
    margin: {
        top: $size-zero;
        bottom: $size-zero;
        left: auto;
        right: auto;
    }
}

.ready-right {
    padding {
        top: $size-main*6;
        left: $size-main*5;
        right: $size-main*3;
        bottom: $size-main;
    }
}